.team-section{
    background-color: #F5F4FA;

}

.team-list{
    display: flex;
    flex-direction:column;

    margin: 50px 0;

    @include tablet{
        flex-direction: row;
        flex-wrap: wrap;
    }

    @include desktop{
        flex-direction: row;
        flex-wrap: wrap;
        margin: 50px -15px;
    }
}

.team-list__item{
    display: block;
    background-color: #fff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    &:not(:last-child){
        margin-bottom: 30px;
    }

    &>h3{
        margin-top: 30px;
        margin-bottom: 10px;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        text-align: center;
        letter-spacing: 0.03em;
        color: $main-color;
    }

    &>span{
        display: block;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        text-align: center;
        letter-spacing: 0.03em;
        color: $second-color;
        text-align: center;
    }

    @include tablet{
        margin: 15px;
        width: calc((100% - 60px) / 2);

        &:last-child{
            margin-bottom: 30px;
        }
    }

    @include desktop{
        width: 270px;
        margin: 15px;

        &:last-child{
            margin-bottom: 30px;
        }
    }
}

.team-image{
    display: block;
    max-width: 100%;
    height: auto;
}

.team-social-list{
    display: flex;
    justify-content: center;

    margin: 20px 0;

    &>li{
        margin: 0 10px;
    }

    & li a{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 44px;
        height: 44px;
        background-color: #fff;
        border-radius: 50%;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        & svg{
            fill: #AFB1B8;
            transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
        &:hover{
            background: $hover-color;

            & svg{
                fill: #fff;
            }
            
        }
    }
}

